html,
body {
    height: 100%;
}

.layered {
    display: grid;
    height: 100%;
    width: 100%;
}

.layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.layered > textarea {
    border: none;
    background-color: transparent;
    color: transparent;
    caret-color: white;
    z-index: 1;
    padding: 1em;
    font-size: 14px;
    font-family: var(--bs-font-monospace);
    line-height: var(--bs-body-line-height);
}

.layered > pre > code {
    height: 100%;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

code {
    width: 100%;
    height: 100%;
    background: #282c34; /* atom one dark background */
}

#outerTerminal {
    background-color: black;
    color: red;
}

pre {
    margin-bottom: 0;
}
