name: Build g3man

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish
        run: dotnet publish g3man -c Release -o release --runtime linux-x64

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: g3man-ubuntu-amd64.zip
          path: release