name: Deploy gmlpweb

on:
  push:
    branches: [ main ]
  pull_request:
      branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Publish
        run: dotnet publish gmlpweb/gmlpweb.csproj -c Release -o release

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: release/wwwroot

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4